<div class="body-div">

    <div class="header-div">
        <h1>Drink Rules</h1>
        <h1 class="logout" (click)="logout()" *ngIf="page !== 0">Sign Out</h1>
    </div>

    <game-component *ngIf="page === 1" [gameDocs]="gameDocs" (onOpenRules)="openRuleSet($event)"></game-component>

    <rules-component *ngIf="page === 2" [gameObj]="rules" [gid]="openGID.id" (onCloseRules)="closeRuleSet()" (deleteGameId)="deleteGame()"></rules-component>

    <input *ngIf="page === 1" id="addgame" #addgame placeholder="Enter game name here to add a game!" (keyup.enter)="addGame(addgame.value)">

    <h2 class="login-text" *ngIf="page === 0">
        We remember your drinking game rules<br>so you don't have to
    </h2>

    <h2 class="login-btn" (click)="login()" *ngIf="page === 0">Sign In</h2>

    

</div>